{ config, pkgs, ... }:

with pkgs.lib;

let

  accounts = {

#    accountX = {
#      username = "user";
#      password = "secret";
#    };

  };

in

{
  options = {
    accounts = mkOption {
      type = types.attrsOf (types.attrsOf types.str);
      default = {};
      example = { account1 = { username = "johndoe"; password = "x123"; }; };
    };
  };

  config.accounts = accounts;
}
